Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'

weird coverage
  lib/util/path_painter_util.dart
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

made the path edit menu open from the compact edit button
  lib/pages/project/project_item_card.dart
Labels: GUI

made the path edit menu open from the compact edit button (#338)
  lib/pages/project/project_item_card.dart
Labels: GUI

flutter coverage tool is busted
  lib/util/path_painter_util.dart
  lib/widgets/editor/path_painter.dart
  macos/Runner.xcodeproj/project.pbxproj
  macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  test/util/geometry_util_test.dart
Labels: GUI

set text field value to nearest arrow key increment
  lib/widgets/number_text_field.dart
  test/widgets/number_text_field_test.dart
Labels: GUI

set text field value to nearest arrow key increment (#343)
  lib/widgets/number_text_field.dart
  test/widgets/number_text_field_test.dart
Labels: GUI

negate editor snapping if ctrl held
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

negate editor snapping if ctrl held (#344)
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

update telemetry to display target pose instead of lookahead
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
  test/pages/telemetry_page_test.dart
Labels: GUI

update telemetry to display target pose instead of lookahead (#345)
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
  test/pages/telemetry_page_test.dart
Labels: GUI

upgrade flutter
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
Labels: workflows

load default settings if project settings file does not exist
  lib/pages/home_page.dart
Labels: GUI

fully handle project directory change
  lib/pages/home_page.dart
Labels: GUI

Fix app not being fully initialized when project directory is changed (#352)
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/pages/home_page.dart
Labels: GUI, workflows

upgrade deps
  pubspec.lock
Labels: none

add ability to show warning on project item card
  lib/pages/project/project_item_card.dart
  test/pages/project/project_item_card_test.dart
Labels: GUI

remove missing paths from autos on load
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  test/auto/papthplanner_auto_test.dart
Labels: GUI

handle missing auto paths when a path is deleted
  lib/pages/project/project_item_card.dart
  lib/pages/project/project_page.dart
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

Fix crash when opening an auto which uses a deleted path (#354)
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_item_card.dart
  lib/pages/project/project_page.dart
  lib/widgets/editor/split_auto_editor.dart
  pubspec.lock
  test/auto/papthplanner_auto_test.dart
  test/pages/project/project_item_card_test.dart
Labels: GUI

use real start/goal positions when extracting AD* path
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
Labels: PathPlannerLib

Use real start/goal positions when extracting AD* path (#355)
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
Labels: PathPlannerLib

Delay pathfinding rotation until the robot has traveled a given distance
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
Labels: PathPlannerLib

Delay pathfinding rotation until the robot has traveled a given distance (#356)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
Labels: PathPlannerLib

show warnings on path/named command widgets when name is missing
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
Labels: GUI

a few random fixes + start named command management
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  lib/widgets/dialogs/named_commands_dialog.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/wait_command_widget.dart
Labels: GUI

clear named commands set when switching projects
  lib/pages/home_page.dart
Labels: GUI

working named command removal
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/widgets/dialogs/named_commands_dialog.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
Labels: GUI

rename named command
  lib/pages/project/project_page.dart
  lib/widgets/dialogs/named_commands_dialog.dart
Labels: GUI

named commands dialog test
  lib/widgets/editor/split_auto_editor.dart
  test/widgets/dialogs/named_commands_dialog_test.dart
Labels: GUI

remaining tests
  test/auto/papthplanner_auto_test.dart
  test/pages/project/project_page_test.dart
  test/path/pathplanner_path_test.dart
Labels: GUI

hit a couple missed lines
  test/pages/project/project_page_test.dart
Labels: GUI

Project-wide named command renaming/removal (#358)
  lib/auto/pathplanner_auto.dart
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/widgets/dialogs/named_commands_dialog.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/wait_command_widget.dart
  test/auto/papthplanner_auto_test.dart
  test/pages/project/project_page_test.dart
  test/path/pathplanner_path_test.dart
  test/widgets/dialogs/named_commands_dialog_test.dart
Labels: GUI

[java] better command abstraction
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathFollowingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
Labels: PathPlannerLib

[java] dynamic replanning & replanning config
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathFollowingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
Labels: PathPlannerLib

[cpp] better command abstraction
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathLTV.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathRamsete.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathFollowingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathFollowingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPLTVController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPRamseteController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
Labels: PathPlannerLib

[cpp] dynamic replanning & replanning config
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathFollowingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathFollowingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/HolonomicPathFollowerConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/ReplanningConfig.h
Labels: PathPlannerLib

add virtual destructor to PathFollowingController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
Labels: PathPlannerLib

Dynamic path replanning & replanning configuration (#359)
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathFollowingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathHolonomic.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathLTV.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathRamsete.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathFollowingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathFollowingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPLTVController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPRamseteController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/HolonomicPathFollowerConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/ReplanningConfig.h
Labels: PathPlannerLib

java docs & refactoring
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
Labels: PathPlannerLib

cpp docs and refactoring
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/ReplanningConfig.h
Labels: PathPlannerLib
