Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'

Add method to get the starting differential pose of a path (#433)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

Fix java replanning for paths made with fromPathPoints factory
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

replan pathfinding new paths if velocity vector does not match heading
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
Labels: PathPlannerLib

fix c++ replanning
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

c++ broke
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

c++ fix
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

Replan pathfinding paths if robot velocity vector does not match initial heading (#434)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

make sure control lengths are >= 0.05
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

make sure control lengths are >= 0.05 (#435)
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

add preview seekbar to path/auto editors
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

adjust seekbar elevation
  lib/widgets/editor/preview_seekbar.dart
Labels: GUI

add seek bar tests
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

Add seek bar and pause/play button for path/auto simulations (#438)
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

maybe actually do arm builds
  pathplannerlib/config.gradle
Labels: PathPlannerLib

Fix PPLib arm builds (#439)
  pathplannerlib/config.gradle
Labels: PathPlannerLib

broken trim bar
  lib/widgets/editor/preview_seekbar.dart
Labels: GUI

Fix loading autos with a null starting pose
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
Labels: PathPlannerLib

Fix loading autos with a null starting pose (#442)
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
Labels: PathPlannerLib

Update config.gradle
  pathplannerlib/config.gradle
Labels: PathPlannerLib

update actions
  .github/workflows/build-pplib-release.yaml
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  .github/workflows/publish-docs.yml
Labels: workflows

bump opencv version
  pathplannerlib/config.gradle
Labels: PathPlannerLib

update java opencv version
  pathplannerlib/build.gradle
Labels: PathPlannerLib

Update deps (#446)
  .github/workflows/build-pplib-release.yaml
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  .github/workflows/publish-docs.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
Labels: PathPlannerLib, workflows

Expose holomonic preview path
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerPathTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
Labels: PathPlannerLib

Do suggested changes
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerPathTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
Labels: PathPlannerLib

Update pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

Update pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

Add overload with pre-PR interface
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

lint
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

Expose holomonic preview rotation in PathPlannerPath (#443)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerPathTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
Labels: PathPlannerLib

create pathplannerlib-python project
  pathplannerlib-python/.gitignore
  pathplannerlib-python/LICENSE
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/setup.py
  pathplannerlib-python/src/pathplannerlib/__init__.py
  pathplannerlib/LICENSE
Labels: PathPlannerLib

add geometry util and config dataclasses
  pathplannerlib-python/src/pathplannerlib/config.py
  pathplannerlib-python/src/pathplannerlib/geometry_util.py
Labels: none

start work on path
  pathplannerlib-python/src/pathplannerlib/geometry_util.py
  pathplannerlib-python/src/pathplannerlib/path.py
Labels: none

Add auto builder java method to get all auto names
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
Labels: PathPlannerLib

Add auto builder java method to get all auto names (#453)
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
Labels: PathPlannerLib

add default constraints UI to settings menu
  lib/pages/home_page.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
Labels: GUI

Set new constraints zone constraints to current global constraints
  lib/path/constraints_zone.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
Labels: GUI

initialize new paths with default constraints
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
Labels: GUI

default constraints settings tests
  lib/widgets/dialogs/settings_dialog.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

why does flutter test say the test is passing if it fails
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI
