Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

how is a test randomly failing now?
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI, workflows

man this code is ugly
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

Add default constraints settings (#454)
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/constraints_zone.dart
  lib/path/pathplanner_path.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI, workflows

Fix miscalculated control points in bezierFromPoses (#456)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Add issue templates (#457)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

finish most of path
  pathplannerlib-python/src/pathplannerlib/path.py
Labels: none

more path stuff
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/src/pathplannerlib/path.py
Labels: none

Fix bezierFromPoses again
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

Fix bezierFromPoses again (#458)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

finish path implementation
  pathplannerlib-python/src/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

start trajectory implementation
  pathplannerlib-python/src/pathplannerlib/geometry_util.py
  pathplannerlib-python/src/pathplannerlib/trajectory.py
Labels: none

finish trajectory implementation
  pathplannerlib-python/src/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
Labels: PathPlannerLib

PathPlannerLogging implementation
  pathplannerlib-python/src/pathplannerlib/logging.py
  pathplannerlib-python/src/pathplannerlib/path.py
  pathplannerlib-python/src/pathplannerlib/trajectory.py
Labels: none

telemetry implementation
  pathplannerlib-python/src/pathplannerlib/telemetry.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

possible C++ json parsing workaround
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

possible C++ json parsing workaround (#460)
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

parse json with GetCharBuffer
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

parse json with GetCharBuffer (#461)
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

Java pathfinding performance improvements
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
Labels: PathPlannerLib

fix potential pathfinding infinite loop
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
Labels: PathPlannerLib

fix infinite loop in c++
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
Labels: PathPlannerLib

port java performance improvements to c++
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

protect obstacles set with request lock
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

preemptively change request booleans
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
Labels: PathPlannerLib

add java RemoteADStar pathfinder
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
Labels: PathPlannerLib

add c++ RemoteADStar
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/RemoteADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/RemoteADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

use wpi::mutex and scoped_lock
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

Significantly improve pathfinding performance on RIO (#476)
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

RemoteADStar pathfinder implementation (#477)
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/RemoteADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/RemoteADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

edit navgrid attributes
  lib/pages/nav_grid_page.dart
  lib/pathfinding/nav_grid.dart
  lib/widgets/number_text_field.dart
Labels: GUI

update default navgrid to use 0.3m node size
  resources/default_navgrid.json
Labels: none

update navgrid page tests
  test/pages/nav_grid_page_test.dart
Labels: GUI

Configure navgrid node and field size through GUI (#478)
  lib/pages/nav_grid_page.dart
  lib/pathfinding/nav_grid.dart
  lib/widgets/number_text_field.dart
  resources/default_navgrid.json
  test/pages/nav_grid_page_test.dart
Labels: GUI

Persist preview pause state on path edits
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

setstate not needed
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

Persist preview pause state on path edits (#479)
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

add ability to change rotation target strategy
  lib/path/goal_end_state.dart
  lib/path/path_point.dart
  lib/path/pathplanner_path.dart
  lib/path/rotation_target.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  test/path/goal_end_state_test.dart
  test/path/rotation_target_test.dart
  test/widgets/editor/tree_widgets/goal_end_state_tree_test.dart
  test/widgets/editor/tree_widgets/rotation_targets_tree_test.dart
Labels: GUI

update flutter version
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  pubspec.lock
  windows/flutter/CMakeLists.txt
Labels: workflows

Update default_navgrid.json
  resources/default_navgrid.json
Labels: none

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'
