Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

last time for real
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

Change version via CI workflows (#374)
  .github/workflows/build-pplib-release.yaml
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  lib/pages/home_page.dart
  lib/services/update_checker.dart
  pathplannerlib/publish.gradle
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI, PathPlannerLib, workflows

base pathfinding command
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

fix bugs found in testing
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
Labels: PathPlannerLib

use center position of grid node instead of corner
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

Update README.md
  README.md
Labels: none

add pathfinding command variants
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
Labels: PathPlannerLib

pathfind then follow path variants
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

C++ Pathfinding (#379)
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

fix all java build warnings
  pathplannerlib/build.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilderException.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/EventManager.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathWithEvents.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/ConstraintsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PIDConstants.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
  pathplannerlib/src/main/java/org/json/simple/parser/JSONParser.java
Labels: PathPlannerLib

fix all java build warnings (#380)
  pathplannerlib/build.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilderException.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/EventManager.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathWithEvents.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/ConstraintsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PIDConstants.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
  pathplannerlib/src/main/java/org/json/simple/parser/JSONParser.java
Labels: PathPlannerLib

Fix commands for differential drivetrains
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPLTVController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPRamseteController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
Labels: PathPlannerLib

Fix commands for differential drivetrains (#381)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPLTVController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPRamseteController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
Labels: PathPlannerLib

Use FollowPathWithEvents in PathfindThenFollowPath commands
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

Refactor EventManager to NamedCommands
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/NamedCommands.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/EventManager.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib

upgrade macos runners
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

Use FollowPathWithEvents in PathfindThenFollowPath commands (#382)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

Refactor EventManager to NamedCommands (#383)
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/NamedCommands.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/EventManager.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib, workflows

Improve tree node number visibility
  lib/widgets/editor/tree_widgets/item_count.dart
Labels: GUI

Improve tree node number visibility (#385)
  lib/widgets/editor/tree_widgets/item_count.dart
Labels: GUI

Helper method and path constructor for on-the-fly path creation
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

Helper method and path constructor for on-the-fly path creation (#386)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

add pathfinding commands to java auto builder
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/org/json/simple/parser/Yylex.java
Labels: PathPlannerLib

add pathfinding commands to c++ auto builder
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

Add autobuilder methods for building pathfinding commands (#388)
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/org/json/simple/parser/Yylex.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

Add registerCommand overload that takes a CommandPtr
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib

Add registerCommand overload that takes a CommandPtr (#390)
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

update native utils, opencv, and docker image
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
Labels: PathPlannerLib, workflows

update native utils, opencv, and docker image (#391)
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
Labels: PathPlannerLib, workflows

match default gui and pplib versions
  lib/services/update_checker.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI

match default gui and pplib versions (#392)
  lib/services/update_checker.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI

feat: add edit path button in auto editor
  lib/pages/auto_editor_page.dart
  lib/pages/project/project_page.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
Labels: GUI

fix: update _openPathByName to only accept name
  lib/pages/auto_editor_page.dart
  lib/pages/project/project_page.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
Labels: GUI

re-add fromPathPoints factory to java pplib
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
Labels: PathPlannerLib

format
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

re-add the fromPathPoints PathPlannerPath factory method (#399)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
Labels: PathPlannerLib

Fix command reordering bug
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
Labels: GUI

Fix command reordering bug (#401)
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
Labels: GUI

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'
