Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'

home page isn't testable I guess
  lib/pages/home_page.dart
  lib/services/pplib_telemetry.dart
Labels: GUI

fix telemetry crash
  lib/pages/telemetry_page.dart
Labels: GUI

fix c++ hot reload parsing
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
Labels: PathPlannerLib

remove c++ auto hot reload
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

change pplib version
  pathplannerlib/publish.gradle
Labels: PathPlannerLib

java pathgroup
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathGroup.java
Labels: PathPlannerLib

get path group from a static PathPlannerAuto method instead of different class
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathGroup.java
Labels: PathPlannerLib

c++ pathgroup functions
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
Labels: PathPlannerLib

Get path group from auto file (#320)
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
Labels: PathPlannerLib

make project items draggable
  lib/pages/project/project_page.dart
Labels: GUI

start adding folders as drag targets
  lib/pages/project/project_page.dart
  lib/util/prefs.dart
Labels: GUI

fix crash when opening an empty auto
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

Update codecov.yml
  codecov.yml
Labels: none

fix crash when opening an empty auto (#323)
  codecov.yml
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

make patch check informational
  codecov.yml
Labels: none

working folders for paths
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
Labels: GUI

working auto folders
  lib/pages/project/project_page.dart
Labels: GUI

save folders to project settings
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
Labels: GUI

fix tests
  test/auto/papthplanner_auto_test.dart
  test/pages/project/project_page_test.dart
  test/path/pathplanner_path_test.dart
  test/widgets/editor/split_auto_editor_test.dart
Labels: GUI

change folder name when renamed
  lib/pages/project/project_page.dart
Labels: GUI

fix tests using fs on windows
  test/auto/papthplanner_auto_test.dart
  test/pages/nav_grid_page_test.dart
  test/pages/project/project_page_test.dart
  test/path/pathplanner_path_test.dart
Labels: GUI

folder tests
  lib/pages/project/project_page.dart
  test/pages/project/project_page_test.dart
Labels: GUI

Add path/auto folders to project browser (#324)
  codecov.yml
  lib/auto/pathplanner_auto.dart
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/util/prefs.dart
  test/auto/papthplanner_auto_test.dart
  test/pages/nav_grid_page_test.dart
  test/pages/project/project_page_test.dart
  test/path/pathplanner_path_test.dart
  test/widgets/editor/split_auto_editor_test.dart
Labels: GUI

upgrade flutter + simulator optimization
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/commands/command.dart
  lib/pages/home_page.dart
  lib/services/simulator/path_simulator.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  pubspec.lock
Labels: GUI, workflows

fix tests for simulator changes
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

fix analysis issue
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

Revert "fix analysis issue"
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

Revert "fix tests for simulator changes"
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

Revert "upgrade flutter + simulator optimization"
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/commands/command.dart
  lib/pages/home_page.dart
  lib/services/simulator/path_simulator.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  pubspec.lock
Labels: GUI, workflows

redo upgrade changes
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/commands/command.dart
  lib/pages/home_page.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  pubspec.lock
Labels: GUI, workflows

fix weird test issue
  test/widgets/editor/tree_widgets/commands/named_command_widget_test.dart
  test/widgets/editor/tree_widgets/commands/path_command_widget_test.dart
Labels: GUI

Upgrade flutter + fix folder crash (#326)
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/commands/command.dart
  lib/pages/home_page.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  pubspec.lock
  test/widgets/editor/tree_widgets/commands/named_command_widget_test.dart
  test/widgets/editor/tree_widgets/commands/path_command_widget_test.dart
Labels: GUI, workflows

update settings chips to elevated variant
  lib/widgets/dialogs/settings_dialog.dart
Labels: GUI

update dart sdk to 3.1
  lib/pages/project/project_page.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI

option to display simulated path
  lib/services/simulator/path_simulator.dart
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
Labels: GUI

tweak lookahead distance calculation
  lib/services/simulator/path_simulator.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PurePursuitController.java
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PurePursuitController.h
Labels: GUI, PathPlannerLib

add editor settings tree to auto tree
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
Labels: GUI

editor settings tree test
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

option to display whole simulated path (#327)
  lib/pages/project/project_page.dart
  lib/services/simulator/path_simulator.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PurePursuitController.java
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PurePursuitController.h
  pubspec.lock
  pubspec.yaml
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: dependencies, GUI, PathPlannerLib

submit on focus loss for number text field
  lib/widgets/editor/tree_widgets/tree_card_node.dart
  lib/widgets/number_text_field.dart
Labels: GUI
