Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

Add auto editor setting to hide other paths on hover
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
Labels: GUI

add test for setting
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

Add auto editor setting to hide other paths on hover (#403)
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

[java] create a generic pathfinder interface
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinding.java
Labels: PathPlannerLib

fix path simulator replanning crash
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

[java] fix dynamic obstacle pathfinding issue
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
Labels: PathPlannerLib

c++ pathfinding fix
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: PathPlannerLib

fix from main
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
Labels: PathPlannerLib

A couple random fixes (#404)
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_auto_editor.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: GUI, PathPlannerLib

move creation of PathPlannerPath into pathfinder implementation
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinding.java
Labels: PathPlannerLib

add generic pathfinder interface to c++ pplib
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/Pathfinding.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/Pathfinder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/Pathfinding.h
Labels: PathPlannerLib

why
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
Labels: PathPlannerLib

Generic pathfinder interface and the option to choose between pathfinders (#405)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinding.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/Pathfinding.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/Pathfinder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/Pathfinding.h
Labels: PathPlannerLib

New autos have a starting pose by default
  lib/auto/pathplanner_auto.dart
Labels: GUI

apparently some macos entitlements have been missing this whole time
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Release.entitlements
Labels: none

New autos have a starting pose by default (#406)
  lib/auto/pathplanner_auto.dart
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Release.entitlements
Labels: GUI

java pathfinding replanning config
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
Labels: PathPlannerLib

c++ pathfinding replanning config
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: PathPlannerLib

Utilize ReplanningConfig in PathfindingCommand (#407)
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: PathPlannerLib

update pplib telemetry for AdvantageScope compatibility
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

update telemetry page
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
Labels: GUI

Update currentpath telemetry entry to be compatible with advantagescope (#411)
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: GUI, PathPlannerLib

Fix click and dragging rotation targets
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

fix test
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

Fix click and dragging rotation targets (#413)
  lib/widgets/editor/split_path_editor.dart
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

Add ability to override target rotation while path following
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/GoalEndStateTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/RotationTargetTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/util/GeometryUtilTest.java
Labels: PathPlannerLib

Add ability to override target rotation while path following (#418)
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/GoalEndStateTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/RotationTargetTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/util/GeometryUtilTest.java
Labels: PathPlannerLib

Set preview starting state for path simulation
  lib/path/pathplanner_path.dart
  lib/path/preview_starting_state.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/preview_starting_state_tree.dart
  test/path/pathplanner_path_test.dart
  test/path/preview_starting_state_test.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/editor/tree_widgets/preview_starting_state_tree_test.dart
Labels: GUI

fix missed line
  test/path/pathplanner_path_test.dart
Labels: GUI

fix path toJson
  lib/path/pathplanner_path.dart
Labels: GUI

Set preview starting state for path simulation (#420)
  lib/path/pathplanner_path.dart
  lib/path/preview_starting_state.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/preview_starting_state_tree.dart
  test/path/pathplanner_path_test.dart
  test/path/preview_starting_state_test.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/editor/tree_widgets/preview_starting_state_tree_test.dart
Labels: GUI

Fix Trajectory.State not copying all fields
  pathplannerlib/build.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerTrajectoryTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerTrajectoryTest.cpp
Labels: PathPlannerLib

Fix Trajectory.State not copying all fields (#422)
  pathplannerlib/build.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerTrajectoryTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerTrajectoryTest.cpp
Labels: PathPlannerLib

add linux arm builds to CI
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

add linux arm builds to CI (#429)
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

set PathPlannerAuto's name to the file name
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
Labels: PathPlannerLib

add java AutoBuilder method to create and populate sendable chooser
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
Labels: PathPlannerLib

Correct auto builder configureHolonomic docs
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
Labels: PathPlannerLib

Correct auto builder configureHolonomic docs (#432)
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
Labels: PathPlannerLib

Add method to get the starting differential pose of a path
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'
