Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'

Docs and refactoring (#361)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/ReplanningConfig.h
Labels: PathPlannerLib

add missing path reversal checkbox
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  macos/Podfile.lock
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

Add missing path reversal checkbox (#363)
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  macos/Podfile.lock
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

display number of items in tree cards
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  lib/widgets/editor/tree_widgets/item_count.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/tree_card_node.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/item_count_test.dart
Labels: GUI

display number of items in tree cards (#365)
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  lib/widgets/editor/tree_widgets/item_count.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/tree_card_node.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/item_count_test.dart
Labels: GUI

Better compact project item styling
  lib/pages/project/project_item_card.dart
Labels: GUI

update app theme color as the setting is changed
  lib/widgets/dialogs/settings_dialog.dart
Labels: GUI

fix color picker test
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

Some styling improvements (#367)
  lib/pages/project/project_item_card.dart
  lib/widgets/dialogs/settings_dialog.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

add last modified time to paths and autos
  lib/auto/pathplanner_auto.dart
  lib/path/pathplanner_path.dart
Labels: GUI

add recent sorting option
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/util/prefs.dart
Labels: GUI

sort paths and autos when creating new ones
  lib/pages/project/project_page.dart
Labels: GUI

sort paths and autos when creating new folders
  lib/pages/project/project_page.dart
Labels: GUI

Add recently modified sort option to project browser (#368)
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/util/prefs.dart
Labels: GUI

update for current 2024 wpilib dev builds
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/vendordeps/WPILibNewCommands.json
Labels: PathPlannerLib

update for current 2024 wpilib dev builds (#370)
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/vendordeps/WPILibNewCommands.json
Labels: PathPlannerLib

replace pathfinding vector usage with unordered_set
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

continue c++ adstar
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

maybe finish AD* translation
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

broken
  pathplannerlib/.wpilib/wpilib_preferences.json
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/gradle/wrapper/gradle-wrapper.jar
  pathplannerlib/gradle/wrapper/gradle-wrapper.properties
  pathplannerlib/gradlew
  pathplannerlib/gradlew.bat
  pathplannerlib/publish.gradle
Labels: PathPlannerLib

fixed
  pathplannerlib/config.gradle
Labels: PathPlannerLib

Update gradle & deps (#371)
  pathplannerlib/.wpilib/wpilib_preferences.json
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/gradle/wrapper/gradle-wrapper.jar
  pathplannerlib/gradle/wrapper/gradle-wrapper.properties
  pathplannerlib/gradlew
  pathplannerlib/gradlew.bat
  pathplannerlib/publish.gradle
Labels: PathPlannerLib

Set niLib version to 2024.1.1
  pathplannerlib/config.gradle
Labels: PathPlannerLib

Ensure deploy directories are created when switching projects
  lib/pages/home_page.dart
Labels: GUI

Ensure deploy directories are created when switching projects (#373)
  lib/pages/home_page.dart
Labels: GUI

new versioning scheme
  lib/pages/home_page.dart
  lib/services/update_checker.dart
  pathplannerlib/publish.gradle
  pubspec.yaml
Labels: dependencies, GUI, PathPlannerLib

update ci to set pubspec version
  .github/workflows/pathplanner-ci.yaml
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI, workflows

fix versioning and add version to artifact names
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
Labels: workflows

keep build number out of artifact names
  .github/workflows/pathplanner-ci.yaml
Labels: workflows

hopefully fix windows being weird
  .github/workflows/pathplanner-ci.yaml
Labels: workflows

windows is cringe
  .github/workflows/pathplanner-ci.yaml
Labels: workflows

maybe pplib versioning ci
  .github/workflows/pplib-ci.yml
Labels: workflows

actually replace pplib version string
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

hopefully fix sed command
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

windows just has to be different again
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

ugh
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

please just work
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/publish.gradle
Labels: PathPlannerLib, workflows

...
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows
