Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'

support "rotate fast" option in java pplib
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerPathTest.java
Labels: PathPlannerLib

support "rotate fast" option in c++ pplib
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/GoalEndState.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathSegment.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/RotationTarget.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/GoalEndState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/RotationTarget.h
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/GoalEndStateTest.cpp
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/RotationTargetTest.cpp
Labels: PathPlannerLib

cover missed lines
  test/services/simulator/trajectory_generator_test.dart
Labels: GUI

fix windows CI builds
  .github/workflows/pathplanner-ci.yaml
Labels: workflows

Add button to add rotation target directly at waypoint
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: GUI

fix tests
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

flutter bad
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

Add button to add rotation target directly at waypoint (#483)
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/split_path_editor_test.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: GUI

Add option to tie global constraints to default constraints
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/number_text_field.dart
  test/path/pathplanner_path_test.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/editor/tree_widgets/global_constraints_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

Add option to tie global constraints to default constraints (#484)
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/number_text_field.dart
  test/path/pathplanner_path_test.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/editor/tree_widgets/global_constraints_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

show preview seekbar time when dragging
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

oops
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

show preview seekbar time when dragging (#485)
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

add placeholder setting for max module speed
  lib/widgets/dialogs/settings_dialog.dart
Labels: GUI

add rotation target/end state overloads without rotateFast
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/GoalEndState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/RotationTarget.h
Labels: PathPlannerLib

add rotation target/end state overloads without rotateFast (#489)
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/GoalEndState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/RotationTarget.h
Labels: PathPlannerLib

utilize max module speed setting in simulations
  lib/pages/home_page.dart
  lib/services/simulator/trajectory_generator.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/services/simulator/trajectory_generator_test.dart
Labels: GUI

fix broken tests
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

ugh
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

add settings test
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

Add setting for max module speed (#490)
  lib/pages/home_page.dart
  lib/services/simulator/trajectory_generator.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

start work on waypoint conversion dialog
  lib/path/waypoint.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

working linked waypoints
  lib/pages/path_editor_page.dart
  lib/pages/project/project_page.dart
  lib/path/waypoint.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

hot reload changed paths with linked waypoints
  lib/pages/project/project_page.dart
Labels: GUI

linked waypoint UI test
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: GUI

Linked waypoints (#491)
  lib/pages/path_editor_page.dart
  lib/pages/project/project_page.dart
  lib/path/waypoint.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: GUI

skip path updates if close to the end
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

improve pathfinding replanning strategy
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

Pathfinding command improvements (#494)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

Utilize rotation velocity as feedforward
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
Labels: PathPlannerLib

Utilize rotation velocity as feedforward (#495)
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
Labels: PathPlannerLib

convert named commands dialog to a tabbed layout
  lib/pages/project/project_page.dart
  lib/widgets/dialogs/management_dialog.dart
Labels: GUI

add linked waypoint management tab + tests
  lib/pages/project/project_page.dart
  lib/widgets/dialogs/management_dialog.dart
  lib/widgets/dialogs/named_commands_dialog.dart
  test/pages/project/project_page_test.dart
  test/widgets/dialogs/management_dialog_test.dart
  test/widgets/dialogs/named_commands_dialog_test.dart
Labels: GUI

Add ability to manage linked waypoints (#496)
  lib/pages/project/project_page.dart
  lib/widgets/dialogs/management_dialog.dart
  lib/widgets/dialogs/named_commands_dialog.dart
  test/pages/project/project_page_test.dart
  test/widgets/dialogs/management_dialog_test.dart
  test/widgets/dialogs/named_commands_dialog_test.dart
Labels: GUI

call active path logging callback w/ empty path when commands end
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PathPlannerLogging.h
Labels: PathPlannerLib

call active path logging callback w/ empty path when commands end (#497)
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PathPlannerLogging.h
Labels: PathPlannerLib

update logging
  pathplannerlib-python/src/pathplannerlib/logging.py
Labels: none

rotate fast update
  pathplannerlib-python/src/pathplannerlib/path.py
  pathplannerlib-python/src/pathplannerlib/trajectory.py
Labels: none

rotate fast default value
  pathplannerlib-python/src/pathplannerlib/path.py
Labels: none

start work on auto
  pathplannerlib-python/src/pathplannerlib/auto.py
Labels: none
