Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'

submit on focus loss for settings pplib host field
  lib/widgets/dialogs/settings_dialog.dart
Labels: GUI

remove onSubmitted for text field to prevent saving twice
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/number_text_field.dart
Labels: GUI

only expand selected waypoint card if waypoints tree expanded
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

oops
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

Save number text field values on focus loss (#328)
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/tree_widgets/tree_card_node.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  lib/widgets/number_text_field.dart
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

increment number text field value with up/down arrow keys
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  lib/widgets/number_text_field.dart
Labels: GUI

add increment tests
  test/widgets/number_text_field_test.dart
Labels: GUI

Increment value in number text fields with arrow keys (#329)
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  lib/widgets/number_text_field.dart
  test/widgets/number_text_field_test.dart
Labels: GUI

add animations to welcome page
  lib/main.dart
  lib/pages/welcome_page.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI

optimize path painters
  lib/pages/telemetry_page.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/mini_path_preview.dart
Labels: GUI

telemetry page animations
  lib/pages/telemetry_page.dart
Labels: GUI

fix path painter
  lib/widgets/editor/path_painter.dart
Labels: GUI

Some UI animations (#330)
  lib/main.dart
  lib/pages/telemetry_page.dart
  lib/pages/welcome_page.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/mini_path_preview.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI

add snap to guidelines setting
  lib/util/prefs.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
Labels: GUI

anchor point snapping
  lib/path/waypoint.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

snap auto starting pose to first waypoint
  lib/widgets/editor/split_auto_editor.dart
Labels: GUI

update editor settings test
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

cover missed line
  test/widgets/editor/split_auto_editor_test.dart
Labels: GUI

Snap to guidelines when dragging waypoints (#332)
  lib/path/waypoint.dart
  lib/util/prefs.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

start c++ pathfinding conversion
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

java pplib trajectory based path following + replanning
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/HolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PurePursuitController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DynamicSlewRateLimiter.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PIDConstants.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
Labels: PathPlannerLib

optimize AD* by using hash sets instead of lists
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
Labels: PathPlannerLib

more ad* optimization
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
Labels: PathPlannerLib

add commands for differential drive trains
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
Labels: PathPlannerLib

differential pathfinding commands
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
Labels: PathPlannerLib

c++ trajectories
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/EventMarker.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DynamicSlewRateLimiter.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/HolonomicPathFollowerConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PIDConstants.h
Labels: PathPlannerLib

allow pathfind to path commands to react to hot reloads
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
Labels: PathPlannerLib

c++ holonomic drive controller
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/HolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/HolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DynamicSlewRateLimiter.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PIDConstants.h
Labels: PathPlannerLib

c++ follow path holonomic command
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathHolonomic.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PurePursuitController.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PathPlannerLogging.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PurePursuitController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PathPlannerLogging.h
Labels: PathPlannerLib

c++ ramsete command
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathRamsete.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
Labels: PathPlannerLib

c++ LTV command
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathLTV.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
Labels: PathPlannerLib

hide angular vel constraints if not holonomic mode
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  test/widgets/editor/tree_widgets/constraint_zones_tree_test.dart
  test/widgets/editor/tree_widgets/global_constraints_tree_test.dart
Labels: GUI

start replacing pure pursuit simulation w/ trajectories
  lib/pages/home_page.dart
  lib/pages/path_editor_page.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/services/trajectory_generator.dart
  lib/util/path_painter_util.dart
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

better holonomic rotation w/ ProfiledPIDController
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/HolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DynamicSlewRateLimiter.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathHolonomic.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/HolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/HolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DynamicSlewRateLimiter.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/HolonomicPathFollowerConfig.h
Labels: PathPlannerLib

send better pplib telemetry data
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathHolonomic.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
Labels: PathPlannerLib

show trajectory for path simulation
  lib/services/simulator/rotation_controller.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

simulate auto w/ trajectories
  lib/services/simulator/chassis_speeds_limiter.dart
  lib/services/simulator/path_simulator.dart
  lib/services/simulator/rotation_p_controller.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

tests
  lib/services/simulator/trajectory_generator.dart
  test/services/simulator/chassis_speeds_limiter_test.dart
  test/services/simulator/rotation_p_controller_test.dart
  test/services/simulator/trajectory_generator_test.dart
Labels: GUI

upgrade flutter
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
Labels: workflows

fix c++ being lame on mac and linux
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
Labels: PathPlannerLib
