Repository mjansen4857/pathplanner, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, GUI, PathPlannerLib, workflows

more auto implementation
  pathplannerlib-python/src/pathplannerlib/auto.py
Labels: none

add controller implementations
  pathplannerlib-python/src/pathplannerlib/auto.py
  pathplannerlib-python/src/pathplannerlib/controller.py
Labels: none

add path following commands
  pathplannerlib-python/src/pathplannerlib/commands.py
Labels: none

fix a few bugs
  pathplannerlib-python/src/pathplannerlib/commands.py
  pathplannerlib-python/src/pathplannerlib/geometry_util.py
  pathplannerlib-python/src/pathplannerlib/trajectory.py
Labels: none

event marker stuff
  pathplannerlib-python/src/pathplannerlib/auto.py
  pathplannerlib-python/src/pathplannerlib/path.py
Labels: none

fix circular import
  pathplannerlib-python/src/pathplannerlib/auto.py
Labels: none

begin work on pathfinding
  pathplannerlib-python/src/pathplannerlib/pathfinders.py
  pathplannerlib-python/src/pathplannerlib/pathfinding.py
Labels: none

more pathfinder progress
  pathplannerlib-python/src/pathplannerlib/pathfinders.py
Labels: none

finish LocalADStar
  pathplannerlib-python/src/pathplannerlib/path.py
  pathplannerlib-python/src/pathplannerlib/pathfinders.py
Labels: none

load & follow choreo trajectories
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
Labels: PathPlannerLib

couple of fixes
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

improve choreo compatibility API stuff + support pathfinding commands
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
Labels: PathPlannerLib

add RemoteADStar
  pathplannerlib-python/src/pathplannerlib/pathfinders.py
  pathplannerlib-python/src/pathplannerlib/pathfinding.py
Labels: none

add pathfinding utility class
  pathplannerlib-python/src/pathplannerlib/pathfinders.py
  pathplannerlib-python/src/pathplannerlib/pathfinding.py
Labels: none

add pathfinding commands
  pathplannerlib-python/src/pathplannerlib/commands.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

pathfind then follow path command groups
  pathplannerlib-python/src/pathplannerlib/commands.py
Labels: none

add AutoBuilder and PathPlannerAuto
  pathplannerlib-python/src/pathplannerlib/auto.py
  pathplannerlib-python/src/pathplannerlib/path.py
Labels: none

add missing docstrings
  pathplannerlib-python/src/pathplannerlib/config.py
  pathplannerlib-python/src/pathplannerlib/geometry_util.py
  pathplannerlib-python/src/pathplannerlib/logging.py
  pathplannerlib-python/src/pathplannerlib/path.py
  pathplannerlib-python/src/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
Labels: PathPlannerLib

fix issues found in testing
  pathplannerlib-python/setup.py
  pathplannerlib-python/src/pathplannerlib/auto.py
  pathplannerlib-python/src/pathplannerlib/controller.py
  pathplannerlib-python/src/pathplannerlib/path.py
  pathplannerlib-python/src/pathplannerlib/pathfinders.py
Labels: none

add starter unit test
  pathplannerlib-python/pathplannerlib/__init__.py
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/controller.py
  pathplannerlib-python/pathplannerlib/geometry_util.py
  pathplannerlib-python/pathplannerlib/logging.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib-python/pathplannerlib/pathfinding.py
  pathplannerlib-python/pathplannerlib/telemetry.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib-python/tests/__init__.py
  pathplannerlib-python/tests/geometry_util_test.py
Labels: none

add python test CI job
  .github/workflows/pplib-ci.yml
  pathplannerlib-python/requirements.txt
Labels: workflows

add python build CI job
  .github/workflows/pplib-ci.yml
  pathplannerlib-python/.gitignore
  pathplannerlib-python/pyproject.toml
Labels: workflows

install build dep in CI
  .github/workflows/pplib-ci.yml
Labels: workflows

maybe fix build artifact
  .github/workflows/pplib-ci.yml
Labels: workflows

give artifact name
  .github/workflows/pplib-ci.yml
Labels: workflows

create workflow to publh to pypi
  .github/workflows/publish-pplib-python.yaml
Labels: workflows

.github/labeler.yml:

dependencies:
- pubspec.yaml

GUI:
- 'lib/**'
- 'test/**'
- pubspec.yaml

PathPlannerLib:
- 'pathplannerlib/**'

workflows:
- '.github/workflows/**'
