Repository mjansen4857/pathplanner, pull requests merged in 2023-10, with the labels that each got.

#361 Docs and refactoring
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/ReplanningConfig.h
Labels: PathPlannerLib

#363 Add missing path reversal checkbox
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  macos/Podfile.lock
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

#365 display number of items in tree cards
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  lib/widgets/editor/tree_widgets/item_count.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/tree_card_node.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/item_count_test.dart
Labels: GUI

#367 Some styling improvements
  lib/pages/project/project_item_card.dart
  lib/widgets/dialogs/settings_dialog.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

#368 Add recently modified sort option to project browser
  lib/auto/pathplanner_auto.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/util/prefs.dart
Labels: GUI

#370 Update for current 2024 wpilib dev builds
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/vendordeps/WPILibNewCommands.json
Labels: PathPlannerLib

#371 Update gradle & deps
  pathplannerlib/.wpilib/wpilib_preferences.json
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/gradle/wrapper/gradle-wrapper.jar
  pathplannerlib/gradle/wrapper/gradle-wrapper.properties
  pathplannerlib/gradlew
  pathplannerlib/gradlew.bat
  pathplannerlib/publish.gradle
Labels: PathPlannerLib

#373 Ensure deploy directories are created when switching projects
  lib/pages/home_page.dart
Labels: GUI

#374 Change version via CI workflows
  .github/workflows/build-pplib-release.yaml
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  lib/pages/home_page.dart
  lib/services/update_checker.dart
  pathplannerlib/publish.gradle
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI, PathPlannerLib, workflows

#379 C++ Pathfinding
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
Labels: PathPlannerLib

#380 fix all java build warnings
  pathplannerlib/build.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilderException.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/EventManager.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathWithEvents.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/ConstraintsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/HolonomicPathFollowerConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PIDConstants.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/ReplanningConfig.java
  pathplannerlib/src/main/java/org/json/simple/parser/JSONParser.java
Labels: PathPlannerLib

#381 Fix commands for differential drivetrains
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPRamseteController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPLTVController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPRamseteController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PathFollowingController.h
Labels: PathPlannerLib

#382 Use FollowPathWithEvents in PathfindThenFollowPath commands
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

#383 Refactor EventManager to NamedCommands
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/NamedCommands.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/EventManager.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib, workflows

#385 Improve tree node number visibility
  lib/widgets/editor/tree_widgets/item_count.dart
Labels: GUI

#386 Helper method and path constructor for on-the-fly path creation
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

#388 Add autobuilder methods for building pathfinding commands
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/org/json/simple/parser/Yylex.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
Labels: PathPlannerLib

#390 Add registerCommand overload that takes a CommandPtr
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib

#391 Update native utils, opencv, and docker image
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
Labels: PathPlannerLib, workflows

#392 match default gui and pplib versions
  lib/services/update_checker.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI

#399 re-add the fromPathPoints PathPlannerPath factory method
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
Labels: PathPlannerLib

#401 Fix command reordering bug
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
Labels: GUI

#403 Add auto editor setting to hide other paths on hover
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

#404 A couple random fixes
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_auto_editor.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/ADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/ADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: GUI, PathPlannerLib

#405 Generic pathfinder interface and the option to choose between pathfinders
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/Pathfinding.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/Pathfinding.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/ADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/Pathfinder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/Pathfinding.h
Labels: PathPlannerLib

#406 New autos have a starting pose by default
  lib/auto/pathplanner_auto.dart
  macos/Runner/DebugProfile.entitlements
  macos/Runner/Release.entitlements
Labels: GUI

#411 Update currentpath telemetry entry to be compatible with advantagescope
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: GUI, PathPlannerLib

#413 Fix click and dragging rotation targets
  lib/widgets/editor/split_path_editor.dart
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI

#418 Add ability to override target rotation while path following
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/GoalEndStateTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/RotationTargetTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/util/GeometryUtilTest.java
Labels: PathPlannerLib

#422 Fix Trajectory.State not copying all fields correctly
  pathplannerlib/build.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerTrajectoryTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerTrajectoryTest.cpp
Labels: PathPlannerLib

#429 add linux arm builds to CI
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
Labels: workflows

#432 Correct auto builder configureHolonomic docs
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
Labels: PathPlannerLib

#433 Add method to get the starting differential pose of a path
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

#434 Replan pathfinding paths if robot velocity vector does not match initial heading
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

#435 Make sure control lengths are >= 0.05
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

#438 Add seek bar and pause/play button for path/auto simulations
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

#439 maybe actually do arm builds
  pathplannerlib/config.gradle
Labels: PathPlannerLib

#442 Fix loading autos with a null starting pose
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
Labels: PathPlannerLib
