Repository mjansen4857/pathplanner, pull requests merged in 2023-11, with the labels that each got.

#446 Update deps
  .github/workflows/build-pplib-release.yaml
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  .github/workflows/publish-docs.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
Labels: PathPlannerLib, workflows

#443 Expose holomonic preview path in PathPlannerPath
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerPathTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
Labels: PathPlannerLib

#453 Add auto builder java method to get all auto names
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
Labels: PathPlannerLib

#454 Add default constraints settings
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/constraints_zone.dart
  lib/path/pathplanner_path.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI, workflows

#456 Fix miscalculated control points in bezierFromPoses
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#458 Fix bezierFromPoses again
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#460 possible C++ json parsing workaround
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#461 parse json with GetCharBuffer
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#476 Significantly improve pathfinding performance on RIO
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

#477 RemoteADStar pathfinder implementation
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/RemoteADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/RemoteADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

#478 Configure navgrid node and field size through GUI
  lib/pages/nav_grid_page.dart
  lib/pathfinding/nav_grid.dart
  lib/widgets/number_text_field.dart
  resources/default_navgrid.json
  test/pages/nav_grid_page_test.dart
Labels: GUI

#479 Persist preview pause state on path edits
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

#482 Add "rotate fast" option to rotation targets and end state
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  lib/path/goal_end_state.dart
  lib/path/path_point.dart
  lib/path/pathplanner_path.dart
  lib/path/rotation_target.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/GoalEndState.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathSegment.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/RotationTarget.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/GoalEndState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/RotationTarget.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathPlannerPathTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/GoalEndStateTest.cpp
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/RotationTargetTest.cpp
  pubspec.lock
  resources/default_navgrid.json
  test/path/goal_end_state_test.dart
  test/path/rotation_target_test.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/editor/tree_widgets/goal_end_state_tree_test.dart
  test/widgets/editor/tree_widgets/rotation_targets_tree_test.dart
  windows/flutter/CMakeLists.txt
Labels: GUI, PathPlannerLib, workflows

#483 Add button to add rotation target directly at waypoint
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/split_path_editor_test.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: GUI

#484 Add option to tie global constraints to default constraints
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/pathplanner_path.dart
  lib/services/simulator/trajectory_generator.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/number_text_field.dart
  test/path/pathplanner_path_test.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/editor/tree_widgets/global_constraints_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

#485 show preview seekbar time when dragging
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

#489 add rotation target/end state overloads without rotateFast
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/GoalEndState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/RotationTarget.h
Labels: PathPlannerLib

#490 Add setting for max module speed
  lib/pages/home_page.dart
  lib/services/simulator/trajectory_generator.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  test/services/simulator/trajectory_generator_test.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

#491 Linked waypoints
  lib/pages/path_editor_page.dart
  lib/pages/project/project_page.dart
  lib/path/waypoint.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: GUI

#494 Pathfinding command improvements
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

#495 Utilize rotation velocity as feedforward
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
Labels: PathPlannerLib

#496 Add ability to manage linked waypoints
  lib/pages/project/project_page.dart
  lib/widgets/dialogs/management_dialog.dart
  lib/widgets/dialogs/named_commands_dialog.dart
  test/pages/project/project_page_test.dart
  test/widgets/dialogs/management_dialog_test.dart
  test/widgets/dialogs/named_commands_dialog_test.dart
Labels: GUI

#497 Call active path logging callback w/ empty path when commands end
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PathPlannerLogging.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PathPlannerLogging.h
Labels: PathPlannerLib
