Repository mjansen4857/pathplanner, pull requests merged in 2024-01, with the labels that each got.

#534 Return a straight line path when pathfinding to same navgrid node
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
Labels: PathPlannerLib

#535 Update flutter, dart sdk, and dependencies
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  README.md
  lib/commands/command_groups.dart
  lib/pages/home_page.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/window_buttons.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI, workflows

#537 Fix fromChoreoTrajectory C++ typo
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

#538 change docs workflow to deploy to github pages directly
  .github/workflows/publish-docs.yml
Labels: workflows

#539 Add holonomic rotation interpolation
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
Labels: PathPlannerLib

#541 Migrate documentation to GitHub Pages site built with Writerside
  .github/labeler.yml
  .github/workflows/publish-docs.yml
  Writerside/c.list
  Writerside/cfg/buildprofiles.xml
  Writerside/hi.tree
  Writerside/images/auto_editor.png
  Writerside/images/command_group.png
  Writerside/images/constraint_zones_tree.png
  Writerside/images/cover.png
  Writerside/images/editor_settings.png
  Writerside/images/event_markers_tree.png
  Writerside/images/global_constraints_tree.png
  Writerside/images/goal_end_state_tree.png
  Writerside/images/icon.png
  Writerside/images/navgrid.png
  Writerside/images/path_card.png
  Writerside/images/path_editor.png
  Writerside/images/path_folder.png
  Writerside/images/pathfind-then-follow-path.gif
  Writerside/images/pathfind-to-pose.gif
  Writerside/images/rotation_targets_tree.png
  Writerside/images/settings.png
  Writerside/images/starting_page.png
  Writerside/images/starting_pose_tree.png
  Writerside/images/telemetry.png
  Writerside/images/waypoints_tree.png
  Writerside/redirection-rules.xml
  Writerside/topics/Home.md
  Writerside/topics/PathPlanner-GUI.topic
  Writerside/topics/PathPlannerLib.topic
  Writerside/topics/gui-Controls-and-Shortcuts.md
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  Writerside/topics/gui-Getting-Started.md
  Writerside/topics/gui-Navigation-Grid-Editor.md
  Writerside/topics/gui-Navigation-Menu.md
  Writerside/topics/gui-Project-Browser.md
  Writerside/topics/gui-Settings.md
  Writerside/topics/gui-Telemetry.md
  Writerside/topics/pplib-Build-an-Auto.md
  Writerside/topics/pplib-Choreo-Interop.md
  Writerside/topics/pplib-Create-a-Path-On-the-fly.md
  Writerside/topics/pplib-Custom-Logging.md
  Writerside/topics/pplib-Follow-a-Single-Path.md
  Writerside/topics/pplib-Getting-Started.md
  Writerside/topics/pplib-Named-Commands.md
  Writerside/topics/pplib-Override-Target-Rotation.md
  Writerside/topics/pplib-Path-Groups.md
  Writerside/topics/pplib-Pathfinding.md
  Writerside/v.list
  Writerside/writerside.cfg
Labels: workflows, documentation

#542 Change wiki button to link to new docs
  .github/workflows/publish-docs.yml
  Writerside/writerside.cfg
  lib/pages/home_page.dart
Labels: GUI, workflows, documentation

#544 update pplib plugins and deps
  pathplannerlib/build.gradle
  pathplannerlib/gradle/wrapper/gradle-wrapper.properties
  pathplannerlib/gradlew
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
Labels: PathPlannerLib

#545 Java and C++ field mirroring
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathWithEvents.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathWithEvents.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathWithEvents.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/GeometryUtil.h
Labels: PathPlannerLib

#548 Better field mirroring
  Writerside/topics/pplib-Build-an-Auto.md
  Writerside/topics/pplib-Create-a-Path-On-the-fly.md
  Writerside/topics/pplib-Follow-a-Single-Path.md
  Writerside/topics/pplib-Pathfinding.md
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/geometry_util.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/requirements.txt
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathWithEvents.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathLTV.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPathRamsete.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathWithEvents.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathWithEvents.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathHolonomic.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathLTV.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPathRamsete.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/GeometryUtil.h
Labels: PathPlannerLib, documentation

#549 Use selected field image for navgrid editor
  lib/pages/home_page.dart
  lib/pages/nav_grid_page.dart
  test/pages/nav_grid_page_test.dart
Labels: GUI

#550 update docs images
  Writerside/images/auto_editor.png
  Writerside/images/cover.png
  Writerside/images/path_card.png
  Writerside/images/path_editor.png
  Writerside/images/starting_page.png
Labels: documentation

#552 Update examples + fix C++ path flipping
  examples/cpp/build.gradle
  examples/cpp/gradlew
  examples/cpp/simgui.json
  examples/cpp/src/main/cpp/RobotContainer.cpp
  examples/cpp/src/main/cpp/subsystems/SwerveSubsystem.cpp
  examples/cpp/src/main/deploy/pathplanner/navgrid.json
  examples/cpp/src/main/include/subsystems/SwerveSubsystem.h
  examples/cpp/vendordeps/PathplannerLib.json
  examples/java/build.gradle
  examples/java/gradlew
  examples/java/simgui.json
  examples/java/src/main/deploy/pathplanner/navgrid.json
  examples/java/src/main/java/frc/robot/RobotContainer.java
  examples/java/src/main/java/frc/robot/subsystems/SwerveSubsystem.java
  examples/java/vendordeps/PathplannerLib.json
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#557 prevent possible pathfinding crash
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
Labels: PathPlannerLib

#558 fix broken c++ target rotation interpolation
  examples/cpp/.wpilib/wpilib_preferences.json
  examples/java/.wpilib/wpilib_preferences.json
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
Labels: PathPlannerLib

#559 remove cyclical import
  pathplannerlib-python/pathplannerlib/trajectory.py
Labels: PathPlannerLib

#560 Add a note about command group ordering
  Writerside/topics/gui-Editing-Paths-and-Autos.md
Labels: documentation

#562 wait for last file update event before reloading choreo trajectories
  lib/pages/project/project_page.dart
Labels: GUI

#563 only allow valid IPv4 addresses for NT server host
  lib/main.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

#566 Fixed bug with Choreo path's not mirroring rotation's properly
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#570 throw if file not found instead of returning null
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/requirements.txt
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

#571 fix loading path groups from choreo autos
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
Labels: PathPlannerLib

#572 report error instead of throwing when AutoBuilder is configured multiple times
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
Labels: PathPlannerLib

#575 Initialize m_enabled to true in PPHolonomicDriveController
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
Labels: PathPlannerLib

#578 Fix idempotency and flipping issue with PathfindingCommand
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: PathPlannerLib

#579 Add driver station warning if named command is not known
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/NamedCommands.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
Labels: PathPlannerLib

#582 Allow use of the PathPlannerTrajectory constructor with choreo paths
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerTrajectory.h
Labels: PathPlannerLib

#584 update macos runner and actions versions
  .github/workflows/build-pplib-release.yaml
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish-docs.yml
  .github/workflows/publish-pplib-python.yaml
Labels: workflows

#586 Fix broken actions
  .github/labeler.yml
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish-docs.yml
Labels: workflows

#585 Add support for loading choreo event markers
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib
