Repository mjansen4857/pathplanner, pull requests merged in 2024-09, with the labels that each got.

#711 Dynamic path resolution for each path segment
  lib/path/path_point.dart
  lib/path/pathplanner_path.dart
  lib/trajectory/auto_simulator.dart
  lib/trajectory/trajectory.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_path_editor.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathSegment.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathSegment.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathPlannerPathTest.cpp
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI, PathPlannerLib

#685 fixed static initalization in NamedCommands #682
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/NamedCommands.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/NamedCommands.h
Labels: PathPlannerLib

#712 pre-sort rotation targets and event markers
  lib/path/pathplanner_path.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
Labels: GUI, PathPlannerLib

#713 Pre-generate the ideal trajectory for each GUI path
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/IdealStartingState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/IdealStartingState.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/IdealStartingState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPoint.h
Labels: PathPlannerLib

#714 Remove replanning & infer auto starting pose from first path
  lib/auto/pathplanner_auto.dart
  lib/pages/auto_editor_page.dart
  lib/trajectory/auto_simulator.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/reset_odom_tree.dart
  lib/widgets/editor/tree_widgets/starting_pose_tree.dart
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/ReplanningConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/RemoteADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/config/ReplanningConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/HolonomicPathFollowerConfig.h
  test/auto/papthplanner_auto_test.dart
  test/pages/auto_editor_page_test.dart
  test/pages/project/project_page_test.dart
  test/trajectory/auto_simulator_test.dart
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/tree_widgets/auto_tree_test.dart
  test/widgets/editor/tree_widgets/reset_odom_tree_test.dart
  test/widgets/editor/tree_widgets/starting_pose_tree_test.dart
Labels: GUI, PathPlannerLib

#716 fix cpp rotation override
  .github/workflows/publish-docs.yml
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
Labels: PathPlannerLib, workflows

#719 Add editor setting to show trajectory states
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
Labels: GUI

#726 Added filtering for buildAutoSendable()
  .github/workflows/publish-docs.yml
  Writerside/topics/pplib-Build-an-Auto.md
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
Labels: PathPlannerLib, workflows, documentation

#727 Output motor torque-current feedforwards from path following commands
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/SwerveModuleTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
Labels: PathPlannerLib

#728 fix torque feedforwards for deceleration
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
Labels: PathPlannerLib

#731 Improve trajectory generation in tight curves
  lib/path/path_point.dart
  lib/path/pathplanner_path.dart
  lib/trajectory/trajectory.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathSegment.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathSegment.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathSegment.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/GeometryUtil.h
Labels: GUI, PathPlannerLib

#732 Remove RemoteADStar + minor refactoring
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/RemoteADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/RemoteADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/RemoteADStar.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectory.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
  pathplannerlib/src/test/java/com/pathplanner/lib/util/GeometryUtilTest.java
Labels: PathPlannerLib

#735 Refactor events
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/Event.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/EventScheduler.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/ScheduleCommandEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/events/EventScheduler.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/events/ScheduleCommandEvent.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/Event.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/EventScheduler.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/ScheduleCommandEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectory.h
Labels: PathPlannerLib

#736 Add a path cache to prevent loading the same path multiple times
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

#739 refactor config/trajectory to use DCMotor class
  lib/pages/home_page.dart
  lib/trajectory/config.dart
  lib/trajectory/dc_motor.dart
  lib/trajectory/motor_torque_curve.dart
  lib/trajectory/trajectory.dart
  lib/util/prefs.dart
  lib/util/wpimath/units.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/ModuleConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/MotorTorqueCurve.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/MotorTorqueCurve.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/config/ModuleConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/config/MotorTorqueCurve.h
  pathplannerlib/src/main/native/include/pathplanner/lib/config/RobotConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
  test/trajectory/auto_simulator_test.dart
  test/widgets/dialogs/settings_dialog_test.dart
  test/widgets/editor/split_path_editor_test.dart
Labels: GUI, PathPlannerLib

#740 Limit maximum motor torque based on wheel friction
  lib/trajectory/dc_motor.dart
  lib/trajectory/trajectory.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/config/RobotConfig.h
Labels: GUI, PathPlannerLib

#741 Update documentation for Trajectory V2
  .github/workflows/publish-docs.yml
  Writerside/images/editor_settings.png
  Writerside/images/goal_end_state_tree.png
  Writerside/images/ideal_starting_state_tree.png
  Writerside/images/rotation_targets_tree.png
  Writerside/images/settings.png
  Writerside/images/starting_pose_tree.png
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  Writerside/topics/gui-Settings.md
  Writerside/topics/pplib-Build-an-Auto.md
  Writerside/topics/pplib-Choreo-Interop.md
  Writerside/topics/pplib-Create-a-Path-On-the-fly.md
  Writerside/topics/pplib-Follow-a-Single-Path.md
  Writerside/topics/pplib-Path-Groups.md
  Writerside/topics/pplib-Pathfinding.md
  Writerside/writerside.cfg
Labels: workflows, documentation

#745 Provide swerve setpoint generator that limits based on motor torque/friction
  Writerside/hi.tree
  Writerside/topics/PathPlannerLib.topic
  Writerside/topics/pplib-Swerve-Setpoint-Generator.md
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib, documentation

#747 Downgrade to 2024 WPILib
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/SwerveModuleTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/vendordeps/WPILibNewCommands.json
Labels: PathPlannerLib, workflows

#751 Fix issue with moving rotation target beyond other target
  lib/path/pathplanner_path.dart
Labels: GUI

#753 Output torque-current feedforwards from SwerveSetpointGenerator
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#754 Clear ideal trajectory on hot reload
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#755 Fix incorrect source links in python api docs
  .github/workflows/publish-docs.yml
Labels: workflows

#756 Use differential kinematics in RobotConfig
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/config/RobotConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectory.h
Labels: PathPlannerLib

#758 Output module feedforwards class instead of a double
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforward.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DriveFeedforward.h
Labels: PathPlannerLib

#760 Generate path point at exact locations of rotation targets
  lib/path/pathplanner_path.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: GUI, PathPlannerLib

#762 Add path optimizer tool to path editor
  Writerside/images/path-optimizer.gif
  Writerside/images/path_optimizer_tree.png
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  lib/path/pathplanner_path.dart
  lib/path/waypoint.dart
  lib/trajectory/config.dart
  lib/trajectory/trajectory.dart
  lib/util/path_optimizer.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_optimization_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  pubspec.lock
  pubspec.yaml
  test/util/path_optimizer_test.dart
  test/widgets/editor/tree_widgets/path_optimization_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: dependencies, GUI, documentation

#767 update deps and upgrade to flutter 3.24
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  lib/pages/home_page.dart
  lib/widgets/keyboard_shortcuts.dart
  pubspec.lock
  pubspec.yaml
Labels: dependencies, GUI, workflows

#772 Refactor PPLib bezierPoints into Waypoints
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/Waypoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/Waypoint.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/Waypoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

#774 enforce minimum control length better
  lib/path/waypoint.dart
  lib/util/path_optimizer.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

#705 UI Improvement and Features
  .vscode/settings.json
  images/icon.ico
  lib/pages/home_page.dart
  lib/pages/project/project_item_card.dart
  lib/pages/project/project_page.dart
  lib/pages/telemetry_page.dart
  lib/util/path_painter_util.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/management_dialog.dart
  lib/widgets/editor/info_card.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/runtime_display.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_choreo_path_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  lib/widgets/editor/tree_widgets/commands/duplicate_command_button.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/wait_command_widget.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/editor_settings_tree.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/ideal_starting_state_tree.dart
  lib/widgets/editor/tree_widgets/item_count.dart
  lib/widgets/editor/tree_widgets/path_optimization_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/reset_odom_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/tree_card_node.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  lib/widgets/window_buttons.dart
  linux/flutter/CMakeLists.txt
  linux/my_application.cc
  pubspec.lock
  pubspec.yaml
  test/pages/home_page_test.dart
  test/pages/project/project_page_test.dart
  test/pages/telemetry_page_test.dart
  test/widgets/editor/preview_seekbar_test.dart
  test/widgets/editor/split_choreo_path_editor_test.dart
  test/widgets/editor/split_path_editor_test.dart
  test/widgets/editor/tree_widgets/constraint_zones_tree_test.dart
  test/widgets/editor/tree_widgets/editor_settings_tree_test.dart
  test/widgets/editor/tree_widgets/event_markers_tree_test.dart
  test/widgets/editor/tree_widgets/goal_end_state_tree_test.dart
  test/widgets/editor/tree_widgets/ideal_starting_state_tree_test.dart
  test/widgets/editor/tree_widgets/path_optimization_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
  test/widgets/editor/tree_widgets/rotation_targets_tree_test.dart
  test/widgets/editor/tree_widgets/runtime_display_test.dart
  test/widgets/editor/tree_widgets/waypoints_tree_test.dart
Labels: dependencies, GUI
