Repository mjansen4857/pathplanner, pull requests merged in 2024-12, with the labels that each got.

#932 Revert "Replace usage of deprecated ChassisSpeeds methods (#916)"
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/gradle/wrapper/gradle-wrapper.properties
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib, workflows

#927 [Swerve Setpoint Generator] Prevent force from being applied to chassisTorque if the magnitude of the force is 0
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#935 Integrate field speeds to interpolate state positions
  lib/trajectory/trajectory.dart
  lib/util/wpimath/kinematics.dart
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/requirements.txt
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
Labels: GUI, PathPlannerLib

#917 Add Swerve Setpoint Generator to PPLib Python
  Writerside/topics/pplib-Swerve-Setpoint-Generator.md
  pathplannerlib-python/pathplannerlib/util/__init__.py
  pathplannerlib-python/pathplannerlib/util/swerve.py
Labels: PathPlannerLib, documentation

#930 Update SwerveSetpointGenerator to handle NaN Voltages
  pathplannerlib-python/pathplannerlib/util/swerve.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#937 Update choreo trajectory version check
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#939 Calculate heading for each state of choreo paths
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#941 Calculate heading for each state of choreo paths oopsie edition
  lib/trajectory/trajectory.dart
Labels: GUI

#946 Fix state interpolation for flipped/reversed trajectories
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
Labels: PathPlannerLib

#948 Modified swerve setpoint generator to use the correct torque limit fo…
  pathplannerlib-python/pathplannerlib/util/swerve.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#949 Add swerve.py to python import test
  pathplannerlib-python/tests/import_test.py
Labels: PathPlannerLib

#944 Replace iterative solver in SwerveSetpointGenerator with direct solutions
  pathplannerlib-python/pathplannerlib/util/swerve.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#951 Add ModuleConfig overload w/ separate gear reduction
  pathplannerlib/src/main/java/com/pathplanner/lib/config/ModuleConfig.java
  pathplannerlib/src/main/native/include/pathplanner/lib/config/ModuleConfig.h
Labels: PathPlannerLib

#952 Change failed generation error message
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

#953 Upgrade to Flutter 3.27
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  lib/main.dart
  lib/pages/home_page.dart
  lib/pages/nav_grid_page.dart
  lib/pages/project/project_item_card.dart
  lib/pages/project/project_page.dart
  lib/pages/telemetry_page.dart
  lib/util/path_painter_util.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/tree_widgets/path_optimization_tree.dart
  lib/widgets/error_popup.dart
  lib/widgets/field_image.dart
  lib/widgets/keyboard_shortcuts.dart
  macos/Runner/AppDelegate.swift
  pubspec.lock
  pubspec.yaml
  test/widgets/app_settings_test.dart
Labels: dependencies, GUI, workflows

#955 Re-add null constraints check to precalcValues
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib

#956 Generate joining path for PathfindThenFollowPath commands
  lib/trajectory/trajectory.dart
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
Labels: GUI, PathPlannerLib

#957 [Swerve Setpoint Generator] Raise kEpsilon from 1e-8 to 1e-6
  pathplannerlib-python/pathplannerlib/util/swerve.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#926 Add Swerve Setpoint Generator to PPLib C++
  Writerside/topics/pplib-Swerve-Setpoint-Generator.md
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/swerve/SwerveSetpointGenerator.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/config/ModuleConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/config/RobotConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/swerve/SwerveSetpoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/swerve/SwerveSetpointGenerator.h
Labels: PathPlannerLib, documentation
