Repository mjansen4857/pathplanner, pull requests merged in 2024-11, with the labels that each got.

#890 Upgrade python deps for 2025 beta
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/requirements.txt
Labels: PathPlannerLib

#891 Always add None option to auto chooser
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
Labels: PathPlannerLib

#892 Add method to get holonomic path start pose if ideal starting state is present
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib

#893 Allow switching telemetry between simulator/robot
  lib/main.dart
  lib/pages/telemetry_page.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  test/pages/telemetry_page_test.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

#894 Update writerside container
  .github/workflows/publish-docs.yml
Labels: workflows

#899 Remove use of python override decorator
  pathplannerlib-python/pathplannerlib/events.py
Labels: PathPlannerLib

#901 Remove app store badge from readme/docs
  README.md
  Writerside/topics/gui-Getting-Started.md
Labels: documentation

#907 Ability to add custom features to robot preview
  Writerside/topics/Robot-Config.md
  lib/commands/command.dart
  lib/pages/home_page.dart
  lib/pages/telemetry_page.dart
  lib/robot_features/circle_feature.dart
  lib/robot_features/feature.dart
  lib/robot_features/line_feature.dart
  lib/robot_features/rounded_rect_feature.dart
  lib/util/path_painter_util.dart
  lib/util/prefs.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/robot_config_settings.dart
  lib/widgets/trajectory_render.dart
  test/robot_features/feature_test.dart
  test/widgets/robot_config_settings_test.dart
Labels: GUI, documentation

#908 Fix a few issues
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/pages/telemetry_page.dart
Labels: GUI

#914 Fix python path flipping for Choreo paths
  pathplannerlib-python/pathplannerlib/path.py
Labels: PathPlannerLib

#915 Fix python trajectory generation within commands
  pathplannerlib-python/pathplannerlib/commands.py
Labels: PathPlannerLib

#916 Replace usage of deprecated ChassisSpeeds methods
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
Labels: PathPlannerLib

#918 Use deleteOldFiles = true
  Writerside/topics/pplib-Build-an-Auto.md
  examples/cpp/build.gradle
  examples/java/build.gradle
Labels: documentation
