Repository mjansen4857/pathplanner, pull requests merged in 2024-03, with the labels that each got.

#621 Update gui-Editing-Paths-and-Autos.md
  Writerside/topics/gui-Editing-Paths-and-Autos.md
Labels: documentation

#628 Clarify requirements on Choreo file save location for interop
  Writerside/topics/pplib-Choreo-Interop.md
Labels: documentation

#625 Remove .ToPtr() from the C++ examples for pathfinding
  Writerside/topics/pplib-Pathfinding.md
Labels: documentation

#644 Upgrade flutter to 3.19.2
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  lib/pages/nav_grid_page.dart
  lib/pages/project/project_page.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/keyboard_shortcuts.dart
  pubspec.lock
Labels: GUI, workflows

#645 make folders and project items scrollable together
  lib/pages/project/project_page.dart
Labels: GUI

#639 Implemented buildAutoChooser() in Python.
  Writerside/topics/pplib-Build-an-Auto.md
  pathplannerlib-python/pathplannerlib/auto.py
Labels: PathPlannerLib, documentation

#648 add AutoBuilder configureCustom option that supports flipping starting poses
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
Labels: PathPlannerLib

#649 Show event markers on choreo paths/autos
  lib/path/choreo_path.dart
  lib/widgets/editor/path_painter.dart
  test/pages/auto_editor_page_test.dart
  test/pages/project/project_page_test.dart
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/split_choreo_path_editor_test.dart
  test/widgets/mini_path_preview_test.dart
Labels: GUI

#650 Show a warning regarding loading autos when code starts
  Writerside/cfg/buildprofiles.xml
  Writerside/topics/pplib-Build-an-Auto.md
Labels: documentation

#655 downgrade to flutter 3.16.9
  .github/workflows/format-command.yml
  .github/workflows/pathplanner-ci.yaml
  pubspec.lock
Labels: workflows

#665 Fix improper C++ Choreo event marker parsing
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#669 Fix autos list not being scrollable on some setups
  lib/pages/project/project_page.dart
Labels: GUI

#653 Add a duplicate/copy button for each action in the autos on the PathPlanner client
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  lib/widgets/editor/tree_widgets/commands/duplicate_command_button.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
  lib/widgets/editor/tree_widgets/commands/wait_command_widget.dart
Labels: GUI
