Repository mjansen4857/pathplanner, pull requests merged in 2024-10, with the labels that each got.

#776 some minor fixes
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/util/path_painter_util.dart
  lib/widgets/editor/preview_seekbar.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/reset_odom_tree.dart
  pubspec.lock
  test/pages/project/project_page_test.dart
  test/widgets/editor/preview_seekbar_test.dart
Labels: GUI

#778 Upgrade telemetry to use structs
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
  lib/util/wpimath/geometry.dart
  pathplannerlib-python/pathplannerlib/telemetry.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
  test/pages/telemetry_page_test.dart
  test/util/wpimath/geometry_test.dart
Labels: GUI, PathPlannerLib

#779 Fix diff drive current limiting
  lib/trajectory/config.dart
  lib/widgets/dialogs/settings_dialog.dart
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/ModuleConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/config/ModuleConfig.h
Labels: GUI, PathPlannerLib

#781 Prevent optimization results from exiting field
  lib/util/path_optimizer.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_optimization_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  test/util/path_optimizer_test.dart
  test/widgets/editor/tree_widgets/path_optimization_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
Labels: GUI

#782 Fix null feedforwards for final trajectory state
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
Labels: PathPlannerLib

#789 Choreo 2025 compatibility updates
  Writerside/topics/pplib-Choreo-Interop.md
  lib/path/choreo_path.dart
  lib/trajectory/trajectory.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/events/OneShotTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/events/OneShotTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
  test/pages/auto_editor_page_test.dart
  test/pages/project/project_page_test.dart
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/split_choreo_path_editor_test.dart
  test/widgets/mini_path_preview_test.dart
Labels: GUI, PathPlannerLib, documentation

#790 increase default text field precision to 3 decimal places
  lib/pages/nav_grid_page.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/tree_widgets/commands/wait_command_widget.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/ideal_starting_state_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  lib/widgets/number_text_field.dart
  test/widgets/dialogs/settings_dialog_test.dart
  test/widgets/number_text_field_test.dart
Labels: GUI

#791 Add rotation error to path following error graph
  lib/pages/telemetry_page.dart
  lib/services/pplib_telemetry.dart
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/telemetry.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PPLibTelemetry.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
  test/pages/telemetry_page_test.dart
Labels: GUI, PathPlannerLib

#792 Make fromFile methods throw relevant exceptions
  Writerside/topics/pplib-Follow-a-Single-Path.md
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
Labels: PathPlannerLib, documentation

#793 Add point towards zones
  Writerside/images/point_towards_zones_tree.png
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  lib/path/constraints_zone.dart
  lib/path/event_marker.dart
  lib/path/pathplanner_path.dart
  lib/path/point_towards_zone.dart
  lib/path/rotation_target.dart
  lib/trajectory/trajectory.dart
  lib/util/path_optimizer.dart
  lib/util/wpimath/geometry.dart
  lib/util/wpimath/kinematics.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/editor/tree_widgets/point_towards_zones_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/ConstraintsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PointTowardsZone.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/ConstraintsZone.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PointTowardsZone.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/ConstraintsZoneTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/ConstraintsZoneTest.cpp
  test/pages/auto_editor_page_test.dart
  test/pages/telemetry_page_test.dart
  test/path/goal_end_state_test.dart
  test/path/ideal_starting_state_test.dart
  test/path/pathplanner_path_test.dart
  test/path/point_towards_zone_test.dart
  test/path/rotation_target_test.dart
  test/path/waypoint_test.dart
  test/trajectory/auto_simulator_test.dart
  test/util/path_optimizer_test.dart
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/split_choreo_path_editor_test.dart
  test/widgets/editor/split_path_editor_test.dart
  test/widgets/editor/tree_widgets/goal_end_state_tree_test.dart
  test/widgets/editor/tree_widgets/path_tree_test.dart
  test/widgets/editor/tree_widgets/point_towards_zones_tree_test.dart
  test/widgets/editor/tree_widgets/rotation_targets_tree_test.dart
  test/widgets/mini_path_preview_test.dart
Labels: GUI, PathPlannerLib, documentation

#796 Override X, Y, and rotation feedback in PPHolonomicDriveController
  Writerside/hi.tree
  Writerside/redirection-rules.xml
  Writerside/topics/PathPlannerLib.topic
  Writerside/topics/pplib-Override-Feedback.md
  Writerside/topics/pplib-Override-Target-Rotation.md
  pathplannerlib-python/pathplannerlib/controller.py
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
Labels: PathPlannerLib, documentation

#797 update pplib install docs
  Writerside/topics/pplib-Getting-Started.md
Labels: documentation

#799 update docs images/descriptions
  Writerside/images/auto_editor.png
  Writerside/images/cover.png
  Writerside/images/editor_settings.png
  Writerside/images/event_markers_tree.png
  Writerside/images/global_constraints_tree.png
  Writerside/images/goal_end_state_tree.png
  Writerside/images/ideal_starting_state_tree.png
  Writerside/images/path_editor.png
  Writerside/images/rotation_targets_tree.png
  Writerside/images/waypoints_tree.png
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  lib/widgets/editor/tree_widgets/goal_end_state_tree.dart
  lib/widgets/editor/tree_widgets/ideal_starting_state_tree.dart
  lib/widgets/editor/tree_widgets/path_optimization_tree.dart
  lib/widgets/window_buttons.dart
  test/widgets/editor/tree_widgets/goal_end_state_tree_test.dart
  test/widgets/editor/tree_widgets/ideal_starting_state_tree_test.dart
Labels: GUI, documentation

#801 Fix wheel force/torque feedforward calculations
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforward.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/config/RobotConfig.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DriveFeedforward.h
Labels: PathPlannerLib

#807 Convert path feature classes to records
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/EventScheduler.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/ConstraintsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/IdealStartingState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PointTowardsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/Waypoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/ConstraintsZoneTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathConstraintsTest.java
Labels: PathPlannerLib

#808 Refactor path flipping into FlippingUtil
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib-python/pathplannerlib/util.py
  pathplannerlib-python/tests/util_test.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/IdealStartingState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PointTowardsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/RotationTarget.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/Waypoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/FlippingUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/GeometryUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/Waypoint.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/FlippingUtil.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PointTowardsZone.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/RotationTarget.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/Waypoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/FlippingUtil.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/GeometryUtil.h
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/RotationTargetTest.cpp
Labels: PathPlannerLib

#810 Add docs comment about feedforward output
  Writerside/topics/pplib-Build-an-Auto.md
Labels: documentation

#811 Fix various PPLib issues
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/pathfinders.py
  pathplannerlib/src/main/java/com/pathplanner/lib/events/OneShotTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/controllers/PPHolonomicDriveController.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/Waypoint.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/controllers/PPHolonomicDriveController.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/ActivateTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/DeactivateTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/EventScheduler.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/OneShotTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/pathfinding/LocalADStar.h
Labels: PathPlannerLib

#814 Add python force feedforward calculations
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib-python/pathplannerlib/util.py
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/requirements.txt
Labels: PathPlannerLib

#815 Fix various python issues
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/telemetry.py
  pathplannerlib-python/pathplannerlib/trajectory.py
Labels: PathPlannerLib

#816 Choreo 2025 event marker parsing
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/events/ActivateTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/CancelCommandEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/DeactivateTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/Event.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/OneShotTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/ScheduleCommandEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/events/ActivateTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/CancelCommandEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/DeactivateTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/Event.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/OneShotTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/ScheduleCommandEvent.h
Labels: PathPlannerLib

#821 Fix a couple issues
  lib/path/pathplanner_path.dart
  lib/widgets/editor/tree_widgets/path_optimization_tree.dart
Labels: GUI

#825 return drawer to m3 spec
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pathplanner-ci.yaml
  .github/workflows/pplib-ci.yml
  lib/pages/home_page.dart
  macos/Podfile.lock
  macos/Runner/AppDelegate.swift
  pubspec.lock
Labels: GUI, workflows

#826 Disable telemetry publishing with competition mode
  pathplannerlib-python/pathplannerlib/telemetry.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/PPLibTelemetry.java
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PPLibTelemetry.h
Labels: PathPlannerLib

#830 Build installers in CI actions
  .github/workflows/pathplanner-ci.yaml
  windows/icon.ico
  windows_installer.iss
Labels: workflows

#836 Add event name dropdown for event markers
  lib/auto/pathplanner_auto.dart
  lib/commands/command.dart
  lib/pages/home_page.dart
  lib/pages/project/project_page.dart
  lib/path/event_marker.dart
  lib/path/pathplanner_path.dart
  lib/widgets/dialogs/management_dialog.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  test/pages/project/project_page_test.dart
  test/widgets/dialogs/management_dialog_test.dart
  test/widgets/editor/split_path_editor_test.dart
  test/widgets/editor/tree_widgets/commands/named_command_widget_test.dart
  test/widgets/editor/tree_widgets/event_markers_tree_test.dart
Labels: GUI

#837 Prevent torque loss from being negative
  lib/trajectory/trajectory.dart
  pathplannerlib-python/pathplannerlib/config.py
  pathplannerlib/src/main/java/com/pathplanner/lib/config/ModuleConfig.java
  pathplannerlib/src/main/native/include/pathplanner/lib/config/ModuleConfig.h
Labels: GUI, PathPlannerLib

#839 Prevent loading of empty Choreo paths
  lib/path/choreo_path.dart
Labels: GUI

#840 Add triggers for point towards zones
  Writerside/hi.tree
  Writerside/topics/PathPlannerLib.topic
  Writerside/topics/pplib-Triggers.md
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib-python/pathplannerlib/util.py
  pathplannerlib/src/main/java/com/pathplanner/lib/events/DeactivateTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/EventScheduler.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/EventTrigger.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/OneShotTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/PointTowardsZoneEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/PointTowardsZoneTrigger.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/TriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PointTowardsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/Waypoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/JSONUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/events/EventScheduler.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/Waypoint.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/events/DeactivateTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/EventScheduler.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/EventTrigger.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/OneShotTriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/PointTowardsZoneEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/PointTowardsZoneTrigger.h
  pathplannerlib/src/main/native/include/pathplanner/lib/events/TriggerEvent.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PointTowardsZone.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/Waypoint.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/JSONUtil.h
Labels: PathPlannerLib, documentation

#842 Add various triggers to PathPlannerAuto
  Writerside/topics/pplib-Triggers.md
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/JSONUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/events/EventScheduler.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib, documentation

#843 Display calculated max accel in settings
  lib/widgets/dialogs/settings_dialog.dart
  test/widgets/dialogs/settings_dialog_test.dart
Labels: GUI

#844 Add edit path button to auto path commands
  lib/pages/auto_editor_page.dart
  lib/pages/project/project_page.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  lib/widgets/editor/tree_widgets/commands/path_command_widget.dart
Labels: GUI

#845 Allow unlimited global constraints
  Writerside/images/global_constraints_tree.png
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  Writerside/topics/gui-Settings.md
  lib/path/path_constraints.dart
  lib/path/pathplanner_path.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathConstraints.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathConstraints.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  test/widgets/editor/tree_widgets/global_constraints_tree_test.dart
Labels: GUI, PathPlannerLib, documentation

#846 Remove slider divisions and add text field for all sliders
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  lib/widgets/editor/tree_widgets/point_towards_zones_tree.dart
  lib/widgets/editor/tree_widgets/rotation_targets_tree.dart
  test/widgets/editor/tree_widgets/constraint_zones_tree_test.dart
  test/widgets/editor/tree_widgets/event_markers_tree_test.dart
  test/widgets/editor/tree_widgets/point_towards_zones_tree_test.dart
Labels: GUI

#848 Allow none/named command to be attached to markers
  lib/commands/command.dart
  lib/commands/command_groups.dart
  lib/commands/none_command.dart
  lib/pages/project/project_page.dart
  lib/path/event_marker.dart
  lib/path/pathplanner_path.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/commands/add_command_button.dart
  lib/widgets/editor/tree_widgets/commands/command_group_widget.dart
  lib/widgets/editor/tree_widgets/commands/named_command_widget.dart
  lib/widgets/editor/tree_widgets/event_markers_tree.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/EventMarker.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/EventMarker.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  test/commands/command_groups_test.dart
  test/commands/command_test.dart
  test/commands/named_command_test.dart
  test/commands/none_command_test.dart
  test/commands/path_command_test.dart
  test/commands/wait_command_test.dart
  test/path/event_marker_test.dart
  test/path/pathplanner_path_test.dart
  test/widgets/editor/tree_widgets/commands/command_group_widget_test.dart
  test/widgets/editor/tree_widgets/event_markers_tree_test.dart
Labels: GUI, PathPlannerLib

#850 Show error popup for uncaught errors
  lib/main.dart
  lib/widgets/error_popup.dart
  test/widgets/error_popup_test.dart
Labels: GUI

#852 Outdated file handling
  lib/auto/pathplanner_auto.dart
  lib/path/pathplanner_path.dart
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/events.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/EventScheduler.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/FileVersionException.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathConstraints.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/test/java/com/pathplanner/lib/path/ConstraintsZoneTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathConstraintsTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/ConstraintsZoneTest.cpp
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathConstraintsTest.cpp
  test/auto/papthplanner_auto_test.dart
  test/path/pathplanner_path_test.dart
Labels: GUI, PathPlannerLib

#854 Expand on Robot Config documentation
  Writerside/hi.tree
  Writerside/topics/Robot-Config.md
  Writerside/topics/gui-Settings.md
Labels: documentation

#855 Update on-the-fly docs for waypointsFromPoses
  Writerside/topics/pplib-Create-a-Path-On-the-fly.md
Labels: documentation

#856 Choreo event marker updates
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/CommandUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#857 Add nominal voltage constraint
  Writerside/images/constraint_zones_tree.png
  Writerside/images/global_constraints_tree.png
  Writerside/topics/gui-Editing-Paths-and-Autos.md
  Writerside/topics/pplib-Create-a-Path-On-the-fly.md
  lib/pages/project/project_page.dart
  lib/path/path_constraints.dart
  lib/path/pathplanner_path.dart
  lib/trajectory/trajectory.dart
  lib/util/prefs.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/editor/tree_widgets/constraint_zones_tree.dart
  lib/widgets/editor/tree_widgets/global_constraints_tree.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathConstraints.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathConstraints.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/test/java/com/pathplanner/lib/path/ConstraintsZoneTest.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathConstraintsTest.java
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/ConstraintsZoneTest.cpp
  pathplannerlib/src/test/native/cpp/pathplanner/lib/path/PathConstraintsTest.cpp
  test/widgets/dialogs/settings_dialog_test.dart
  test/widgets/editor/tree_widgets/constraint_zones_tree_test.dart
  test/widgets/editor/tree_widgets/global_constraints_tree_test.dart
Labels: GUI, PathPlannerLib, documentation

#859 Fix choreo path splitting
  lib/path/choreo_path.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: GUI, PathPlannerLib

#861 Fix Choreo auto loading
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#862 Style changes to buildAutoChooser
  Writerside/topics/pplib-Build-an-Auto.md
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
Labels: PathPlannerLib, documentation

#864 fix python circular import
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/tests/import_test.py
Labels: PathPlannerLib

#865 Upgrade PPLib Java/Cpp to 2025 WPILib
  .github/workflows/build-pplib-release.yaml
  .github/workflows/pplib-ci.yml
  pathplannerlib/build.gradle
  pathplannerlib/config.gradle
  pathplannerlib/gradle/wrapper/gradle-wrapper.jar
  pathplannerlib/gradle/wrapper/gradle-wrapper.properties
  pathplannerlib/gradlew
  pathplannerlib/gradlew.bat
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PointTowardsZone.java
  pathplannerlib/src/main/java/com/pathplanner/lib/pathfinding/LocalADStar.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/SwerveModuleTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/config/RobotConfig.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/pathfinding/LocalADStar.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/vendordeps/WPILibNewCommands.json
Labels: PathPlannerLib, workflows

#867 Support java units library
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathPlannerAuto.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/ModuleConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPHolonomicDriveController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PPLTVController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/controllers/PathFollowingController.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/CancelCommandEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/Event.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/EventScheduler.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/OneShotTriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/PointTowardsZoneEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/ScheduleCommandEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/events/TriggerEvent.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/GoalEndState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/IdealStartingState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathConstraints.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforward.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/test/java/com/pathplanner/lib/path/PathConstraintsTest.java
Labels: PathPlannerLib

#868 Fix disabled name dropdown from empty events
  lib/path/pathplanner_path.dart
Labels: GUI

#870 Feedforwards refactor
  Writerside/topics/pplib-Follow-a-Single-Path.md
  Writerside/topics/pplib-Swerve-Setpoint-Generator.md
  pathplannerlib-python/pathplannerlib/auto.py
  pathplannerlib-python/pathplannerlib/commands.py
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib-python/pathplannerlib/util.py
  pathplannerlib/.vscode/settings.json
  pathplannerlib/src/main/java/com/pathplanner/lib/auto/AutoBuilder.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/FollowPathCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindThenFollowPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/commands/PathfindingCommand.java
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectoryState.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforward.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforwards.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/FlippingUtil.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectoryState.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/trajectory/PathPlannerTrajectoryState.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DriveFeedforward.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DriveFeedforwards.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/FlippingUtil.h
Labels: PathPlannerLib, documentation

#875 Fix loading of choreo paths with splits [C++ pathplannerlib]
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#879 Switch C++ AutoBuilder `std::function`s to accept `const&`
  examples/cpp/src/main/cpp/subsystems/SwerveSubsystem.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/AutoBuilder.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/FollowPathCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathfindingCommand.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/PathPlannerLogging.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/AutoBuilder.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/FollowPathCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindThenFollowPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathfindingCommand.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/PathPlannerLogging.h
Labels: PathPlannerLib

#876 Make documentation Autobuilder example match the project example for C++
  Writerside/topics/pplib-Build-an-Auto.md
Labels: documentation

#883 Fix `FlippingUtil` behavior with `kMirrored` robot-relative forces and `kRotational` field rotation
  pathplannerlib-python/pathplannerlib/util.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforwards.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/FlippingUtil.java
  pathplannerlib/src/main/native/include/pathplanner/lib/util/DriveFeedforwards.h
  pathplannerlib/src/main/native/include/pathplanner/lib/util/FlippingUtil.h
Labels: PathPlannerLib

#881 Angle check
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
Labels: PathPlannerLib

#884 Export paths/autos to PNG or GIF
  lib/pages/telemetry_page.dart
  lib/util/path_painter_util.dart
  lib/widgets/dialogs/trajectory_render_dialog.dart
  lib/widgets/editor/path_painter.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_choreo_path_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/editor/tree_widgets/auto_tree.dart
  lib/widgets/editor/tree_widgets/choreo_path_tree.dart
  lib/widgets/editor/tree_widgets/path_tree.dart
  lib/widgets/mini_path_preview.dart
  lib/widgets/trajectory_render.dart
  pubspec.lock
  pubspec.yaml
  test/widgets/dialogs/trajectory_render_dialog_test.dart
  test/widgets/editor/split_auto_editor_test.dart
Labels: dependencies, GUI

#887 Load module X/Y forces from Choreo paths
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/PathPlannerPath.java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/DriveFeedforwards.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib
