Repository mjansen4857/pathplanner, pull requests merged in 2025-01, with the labels that each got.

#960 Fix C++ Choreo trajectory parsing
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
Labels: PathPlannerLib

#963 Fix dialog background colors
  lib/pages/home_page.dart
  lib/pages/nav_grid_page.dart
  lib/pages/project/project_item_card.dart
  lib/pages/project/project_page.dart
  lib/widgets/app_settings.dart
  lib/widgets/dialogs/edit_field_dialog.dart
  lib/widgets/dialogs/import_field_dialog.dart
  lib/widgets/dialogs/management_dialog.dart
  lib/widgets/dialogs/settings_dialog.dart
  lib/widgets/dialogs/trajectory_render_dialog.dart
  lib/widgets/editor/tree_widgets/waypoints_tree.dart
Labels: GUI

#969 Add 2025 field image, navgrid, and field dimensions
  Writerside/topics/pplib-Getting-Started.md
  images/field25.png
  lib/pages/home_page.dart
  lib/util/prefs.dart
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
  lib/widgets/field_image.dart
  pathplannerlib-python/pathplannerlib/util/__init__.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/FlippingUtil.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/FlippingUtil.cpp
  pubspec.lock
  pubspec.yaml
  resources/default_navgrid.json
  source_assets/field25.afphoto
  test/widgets/editor/split_auto_editor_test.dart
  test/widgets/editor/split_choreo_path_editor_test.dart
  test/widgets/editor/split_path_editor_test.dart
Labels: dependencies, GUI, PathPlannerLib, documentation

#931 [Swerve Setpoint Generator] Limit max speed when voltage sags
  pathplannerlib-python/pathplannerlib/util/swerve.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/swerve/SwerveSetpointGenerator.cpp
Labels: PathPlannerLib

#964 Add Alerts to RobotConfig
  pathplannerlib/src/main/java/com/pathplanner/lib/config/RobotConfig.java
Labels: PathPlannerLib

#970 Update python reqs
  pathplannerlib-python/pyproject.toml
  pathplannerlib-python/requirements.txt
Labels: PathPlannerLib

#974 Update docs cover image
  Writerside/images/cover.png
  Writerside/images/project_page.png
  Writerside/topics/Home.md
  Writerside/topics/gui-Project-Browser.md
Labels: documentation

#979 Show welcome page if opening project fails
  lib/pages/home_page.dart
Labels: GUI

#980 Support arbitrary SwerveSetpointGenerator constraints
  pathplannerlib-python/pathplannerlib/util/swerve.py
  pathplannerlib/src/main/java/com/pathplanner/lib/util/swerve/SwerveSetpointGenerator.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/util/swerve/SwerveSetpointGenerator.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/util/swerve/SwerveSetpointGenerator.h
Labels: PathPlannerLib

#982 Avoid division by zero in python
  pathplannerlib-python/pathplannerlib/trajectory.py
Labels: PathPlannerLib

#985 Remove duplicate angle calculation from C++
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
Labels: PathPlannerLib

#986 Mention vendor dep manager in install docs
  Writerside/images/vendor_dep_manager.png
  Writerside/topics/pplib-Getting-Started.md
Labels: documentation

#989 [PPLib] Fix chassis speeds flipping in java
  pathplannerlib/src/main/java/com/pathplanner/lib/util/FlippingUtil.java
Labels: PathPlannerLib

#990 Add annotated field image
  images/field25-annotated.png
  lib/widgets/field_image.dart
Labels: GUI

#994 Prevent NaN trajectory time calculations
  lib/trajectory/trajectory.dart
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/Waypoint.java
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/path/Waypoint.h
Labels: GUI, PathPlannerLib

#995 Fix Reefscape annotated field not loading
  lib/pages/home_page.dart
  lib/widgets/field_image.dart
  pubspec.yaml
Labels: dependencies, GUI

#999 Fix Python AttributeError in SwerveSetpointGenerator
  pathplannerlib-python/pathplannerlib/util/swerve.py
Labels: PathPlannerLib

#1012 Use references in EventScheduler for loops
  pathplannerlib/src/main/native/cpp/pathplanner/lib/events/EventScheduler.cpp
Labels: PathPlannerLib

#1008 Fix typo in IdealStartingState Javadoc (#1007)
  pathplannerlib-python/pathplannerlib/path.py
  pathplannerlib/src/main/java/com/pathplanner/lib/path/IdealStartingState.java
Labels: PathPlannerLib

#1014 Catch weird trajectory length errors
  lib/widgets/editor/split_auto_editor.dart
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

#1015 Add note about disabling webserver on RIO 1 for python teams
  Writerside/topics/pplib-Getting-Started.md
Labels: documentation

#1036 Actually catch project init errors
  lib/pages/home_page.dart
Labels: GUI

#1037 Fix potential division by zero when calculating FF
  pathplannerlib-python/pathplannerlib/trajectory.py
  pathplannerlib/src/main/java/com/pathplanner/lib/trajectory/PathPlannerTrajectory.java
  pathplannerlib/src/main/native/cpp/pathplanner/lib/trajectory/PathPlannerTrajectory.cpp
Labels: PathPlannerLib

#1039 Potentially better fix weird animation controller crash
  lib/widgets/editor/split_path_editor.dart
Labels: GUI

#1045 Add path mirroring for C++
  pathplannerlib/src/main/native/cpp/pathplanner/lib/auto/CommandUtil.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/commands/PathPlannerAuto.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/EventMarker.cpp
  pathplannerlib/src/main/native/cpp/pathplanner/lib/path/PathPlannerPath.cpp
  pathplannerlib/src/main/native/include/pathplanner/lib/auto/CommandUtil.h
  pathplannerlib/src/main/native/include/pathplanner/lib/commands/PathPlannerAuto.h
  pathplannerlib/src/main/native/include/pathplanner/lib/path/PathPlannerPath.h
Labels: PathPlannerLib
